git+https://github.com/aerospaceresearch/orbitdeterminator@e51bf6

Flask~=1.0.2
Flask-Compress~=1.4.0
Jinja2~=2.10.1
jsonschema~=2.6.0

dash~=0.21.1
dash-core-components~=0.23.0
dash-html-components~=0.10.1
dash-renderer~=0.12.1
dash-table-experiments~=0.6.0

plotly~=3.6.1
